### IntelliJ IDEA ###
.idea/
*.iml
out/

### Mac OS ###
.DS_Store

### Build & Native Artifacts ###
natives/
crash-dump.txt
crash-dump_*.txt
hs_err_pid*.log
*.log

### Build Tool Outputs ###
target/
build/
.gradle/

### Dependencies ###
lib/

### Scratch / Testing ###
scratch/

### Private / Config ###
preferences.txt
regurgitation/
code.txt
*.regurgitation

### Not ready for presenting ###
src/api/com/api/
**/api/
